@import "bootstrap/dist/css/bootstrap.css";
body {
    font-family: "Nunito", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    background: #ffffff;

    &.background {
        height: 100%;

        main {
            margin: 0 !important;
            height: 100%;

            .container {
                height: 100%;
            }
        }
    }
}
